@model Department

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-block">
                <div class="text-center">
                    <h4 class="sub-title"> Departament haqqında</h4>
                </div>
                <div class="form-group has-success row">
                    <div class="col-6">
                        <img src="~/assets/Image/@Model.Image" style="width:500px;height:500px;border-radius:10%;object-fit:cover" />
                    </div>
                    <div class="col-6">
                        <div class="form-group has-success row">
                            <div class="col-sm-10">
                                <label class="col-form-label" asp-for="@Model.DepartmentName">Departamentin adı</label>
                            </div>
                            <div class="col-sm-10">
                                <input asp-for="@Model.DepartmentName" class="form-control form-control-success">
                                <span asp-validation-for="@Model.DepartmentName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group has-success row">
                            <div class="col-sm-10">
                                <label class="col-form-label" asp-for="@Model.Description">Haqqında</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea asp-for="@Model.Description" type="text" class="form-control form-control-success"></textarea>
                                <span asp-validation-for="@Model.Description" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
            <div class="text-center">

                <a asp-controller="Department" asp-action="Index" class="btn btn-primary"><i class="ti-back-left"></i>Geri qayıt</a>
            </div>
        </div>



    </form>







    @section Scripts{
        <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#Description'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    }
</div>