@model List<Personal>
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>İşçilərin siyahısı</h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <a asp-controller="Personal" asp-action="Create" class="btn btn-success"><i class="ti-user"></i>İşçi əlavə et</a>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa-chevron-left"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><a asp-controller="Personal" asp-action="Index"><i class="fa fa-refresh reload-card"></i></a></li>

                </ul>
            </div>

        </div>
        <div class="row">

            <div class="col-4">
                <form id="formSearch" method="post">
                    <div id="SearchBox">
                        <div class="input-group mb-4">
                            <input type="search" id="Name" name="Name" placeholder="İşçinin  adı..." aria-describedby="button-addon5" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" id="submitsearch" value="Search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <form id="formSearch" method="post">
                    <div id="SearchBox">
                        <div class="input-group mb-4">
                            <input type="search" id="Surname" name="Surname" placeholder="İşçinin soyadı..." aria-describedby="button-addon5" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" id="submitsearch" value="Search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <form id="formSearch" method="post">
                    <div id="SearchBox">
                        <div class="input-group mb-4">
                            <input type="search" id="Position" name="Position" placeholder="İşçinin vəzifəsi..." aria-describedby="button-addon5" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" id="submitsearch" value="Search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>

                        <tr>

                            <th>Ad və Soyad</th>
                            <th>İşçinin fotosu</th>
                            <th>Departmenti</th>
                            <th>Vəzifəsi</th>
                            <th>Status</th>
                            <th>Fəaliyyətlər</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Personal item in Model)
                        {
                            <tr class="table-active">
                                <td>@item.Name @item.Surname</td>

                                <td><img src="~/assets/Image/@item.Image" style="width:80px;height:80px;border-radius:50%" /></td>

                                <td><h3>@item.Department.DepartmentName</h3></td>
                                <td>@item.Position</td>
                                <td>

                                    @if (item.IsDeactive)
                                    {
                                        <span class="text-danger">Deactive</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                </td>
                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-secondary">Activated</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i>Sil</a>
                                    }
                                    <a asp-controller="Personal" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success"><i class="ti-reload"></i>Yenilə</a>
                                    <a asp-controller="Personal" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-agenda"></i>Detallar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center">

        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.PersonalCount; i++)
                {

                    if (i == ViewBag.SelectedPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="Personal" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Personal" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
}